$fnt-primary: 'Rubik', sans-serif;
$fnt-second: 'Hanken Grotesk', sans-serif;
$cm-white: #ffffff;
$cm-blck: #000000;
$grey: #f4f2ee;
$lght-blue: #edf3f8;
$brwn: #915907;
$lght-grey: #8c8c8c;
$brd: #c5c0c0;